<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4DEVS | Blog</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=BioRhyme:wght@200..800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header class="main-header">
      <h1>4<span>DEVS</span></h1>
      <nav class="nav-menu">
        <ul>
          <li>
            <a href="#">Artigos</a>
          </li>
          <li>
            <a href="#">Projetos</a>
          </li>
          <li>
            <a href="#">Equipe</a>
          </li>
          <li>
            <a href="#">História</a>
          </li>
        </ul>
      </nav>
      {% if logged_in %}
      <button id="logoutButton" class="bttn-acess">Logout</button>
      {% else %}
      <a href="/login"><button class="bttn-acess">Fazer login</button></a>
      {% endif %}
    </header>

    <div class="main-container">
      <aside>
        <input type="search" placeholder="Busque por algo" name="#" id="#" />
      </aside>

      <main class="post-list">
        {%for post in posts%}
        <article class="post-container">
          <img src="data:image/jpeg;base64,{{ img }}" alt="" class="img-post" />
          <div class="post-preview">
            <h1>{{ post["titulo"] }}</h1>

            <div class="description-article">
              <p>{{ post["descricao"] }}</p>
              <footer>
                <div>
                  <time datetime="2024-03-01">1 de Mar. de 2024</time>
                  <span>• 15 min</span>
                </div>
                <button>Ler mais</button>
              </footer>
            </div>
          </div>
        </article>
        {%endfor%}
      </main>
    </div>
    <script>
      document
        .getElementById("logoutButton")
        .addEventListener("click", function () {
          // Envia uma solicitação POST assíncrona para a rota de logout
          fetch("/logout", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          })
          setTimeout(function () {
            location.reload()
          }, 500)
        })
    </script>
  </body>
</html>
